/********** RESET CSS **********/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }

/********** GLOBAL **********/
body {
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-align: center;
	font-size: 14px;
}

h1 {
	font-size: 3.2em;
}

h2 {
	font-size: 2em;
}

ul {
	list-style-type: none;
}

.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 15px 0 0 0;
}

/********** HEADER **********/
header {
	background: rgba(0, 0, 0, .5);
	padding: 13px 0;
	position: fixed;
	width: 100%;
	z-index: 9999;
	padding: 4px 0;
}

.menu img {
	width: 65px;
	float: left;
}

.menu {
	display: flex;
	justify-content: space-around;
	padding: 0 50px 0 50px;
}

nav {
	display: flex;
	align-items: center;
}

nav a {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 1.2em;
}

nav li {
	display: inline;
	padding: 0 10px;
}

nav li a:hover {
	color: rgb(255, 195, 30);
	cursor: pointer;
}

/********** HOME **********/
.home {
	background-image: url("images/dark_city_background.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	display: flex;
	justify-content: center;
	flex-direction: column;
	min-height: 750px;
}

.title {
	max-width: 700px;
	margin: 0 auto 0 auto;
}

.title h1 {
	margin: 0;
}

.title h2 {
	margin: 5px 0 0 0;
}

.title p {
	margin: 10px 0 0 0;
	font-size: 1.2em;
}

@media only screen and (max-width: 600px) {
	.home {
		min-height: 600px;
	}
	.title {
		margin: 0 20px 0 20px;
	}
	.title h1 {
		font-size: 2.5em;
	}

	.title h2 {
		font-size: 1.5em;
	}

	.title p {
		font-size: 1em;
	}
}

/********** CASES **********/
.cases {
	background-color: white;
	margin: 30px auto auto auto;
	max-width: 1500px;
}

.cases p {
	margin: 5px 0 0 0;

}

.case-item {
	margin: 0 10px 0 10px;
	width: 300px;
}

.case-item h4 {
	font-weight: bold;
}

.case-item img {
	height: 250px;
	margin: 10px 0 0 0;
}

/********** DETECTIVES **********/
.detectives {
	margin: 30px auto auto auto;
}

/********** FOOTER **********/
footer {
	background-color: rgb(38, 38, 38);
	color: white;
	text-align: right;
	padding: 0 10px 0 0;
	width: 100%;
}
