/********** RESET CSS **********/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
/********** GLOBAL **********/
body {
	font-family: Helvetica, sans-serif;
	font-size: 22px;
	text-align: center;
	color: seashell;
	background-color: black;
	margin: 0;
}

main {
	padding: 70px 0 0 0;
	max-width: 1200px;
	margin: 0 auto;
}

a {
	color: seashell;
	cursor: pointer;
}

a:hover {
	color: steelblue;
}

h4 {
	font-size: 20px;
	padding: 10px 0 10px 0;
}

h2 {
	font-size: 35px;
	padding: 10px 0 10px 0;
}

h5 {
	font-size: 16px;
	padding: 10px;
}

.container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;	
}

/********** HEADER **********/
header {
	width: 100%;
	position: fixed;
	border-bottom: 1px solid seashell;
	z-index: 1;
	align-items: center;
	padding: 8px 10px;
	background-color: black;
	opacity: 0.9;
}

header img {
	height: 50px;
}

nav {
	text-align: right;
	flex-grow: 1;
}

nav a {
	margin: 0 15px 0 0;
}

/********* MISSION *********/
.mission {
	background-image: url("images/img-mission-background.jpg");
	background-repeat: no-repeat;
	min-height: 700px;
	max-width: 1200px;
	margin: auto auto 60px auto;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

.mission-content {
	background-color: black;
	width: 100%;
	margin: auto 0;
}

/********** TEA MONTH **********/
.teamonth {
	max-width: 1000px;
	margin: auto auto 50px auto;
}

.tea-item img {
	height: 200px;
	margin: 20px 15px 10px 15px;
}

.tea-item h4 {
	font-weight: bold;
	margin: 0 0 5px 0;
}

/********** LOCATIONS **********/
.locations {
	background-image: url("images/img-locations-background.jpg");
	background-repeat: no-repeat;
	background-position: center;
	min-height: 500px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.locations h2 {
	margin: 0 0 15px 0;
}

.store {
	background-color: black;
	padding: 10px;
	margin: 0 20px;
	opacity: 1;
	min-width: 280px;
}

.store p {
	margin: 50px 10px 30px 10px;
}

.store h3 {
	padding: 10px 0 0 0;
}

/********** CONTACT **********/
.contact a {
	font-size: 16px;
}

footer p {
	font-size: 16px;
	font-weight: bold;
	text-align: left;
	margin: 60px 20px 30px;
}