/********** RESET CSS **********/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
/********** GLOBAL **********/
* {
	margin: 0;
	font-family: Helvetica;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
}

a {
	color: seashell;
	cursor: pointer;
}

h2, h4 {
	padding: 10px;
}

h2 {
	font-size: 35px;
}

/********** HEADER **********/
header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	height: 69px;
	width: 100%;
	position: fixed;
	border-bottom: 1px solid seashell;
	z-index: 1;
	align-items: center;
	background-color: black;
}

header img {
	height: 50px;
	padding-left: 10px;

}

nav {
	display: flex;
	justify-content: flex-end;
	flex-grow: 1;
	padding-right: 5px;
}

li {
	display: inline-block;
	padding: 20px 10px;
}

/********* MISSION *********/
.mission {
	background-image: url("images/img-mission-background.jpg");
	height: 700px;
	width: 1200px;
	background-color: black;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/********** TEA MONTH **********/
.teamonth {
	height: 700px;
	width: 1000px;
	margin: auto;
	padding-top: 70px;
}

.flex-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;	
}

.item img {
	height: 200px;
	margin: 10px;
	display: block;	
}

.item h4 {
	display: block;
	padding: 5px;
	font-weight: bold;
	text-align: center;	
}

/********** LOCATIONS **********/
.locations {
	background-image: url("images/img-locations-background.jpg");
	height: 500px;
}